canvas[id="task3_canvas"] {
    height: calc(100vh - 75px);
    width: calc(100vw - 15px);

    margin: 10px 0px 0px 0px;
}

.welcome {
    color: white;
    font-size: 72px;
    display: flex;
    position: absolute;
    left: 30px;
    top: 80px;
    margin: 20px 40px;
}

.title {
    color: white;
    font-size: 96px;
    display: flex;
    position: absolute;
    left: 30px;
    top: 160px;
    margin: 20px 40px;
}

.main {
    height: calc(100vh - 70px);
    align-items: end;
    display: flex;
}