.view_frame {
    display: flex;
    text-align: center;
    width: 100%;
    height: calc(100vh - 150px);
}

.view_frame img {
    display: inline-block;

    max-width: 90%;
    max-height: calc(100vh - 150px);
    margin: auto;

    border-radius: 10px;
    object-fit: cover;
}

.view_frame .controller {
    position: absolute;
    align-content: center;
    padding: 8px;
    left: 0; 
    right: 0; 
    bottom: 40px;
    margin-inline: auto; 
    width: fit-content;

    border-color: rgba(119, 136, 153, 0.3);
    border-width: 1.5px;
    border-style: solid;

    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(3px);
    border-radius: 100px;

    display: table;
}

.view_frame .controller p {
    padding: 0px 10px;
}

.view_frame .controller button {
    display: table-cell;
    vertical-align: middle;

    background-color: transparent;
    color: white;
    padding: 8px;
    width: 40px;
    height: 40px;
    
    border-radius: 30px;
    border-style: none;

    transition: ease-in-out 100ms;
}

.view_frame .controller button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.view_frame .controller button:active {
    background-color: rgba(255, 255, 255, 0.8);
}

.view_frame .controller button svg {
    text-align: center;
}

.view_frame .controller div[id="information_box"] {
    display: table-cell;
    vertical-align: middle;
}

.view_frame .controller div p[id="viewport_title"] {
    margin: 0px;
}

.view_frame .controller div p[id="viewport_indicator"] {
    font-size: small;
    margin: 0px;
}