/* Outter frame */
.image-viewer {
    display: flex;
    text-align: center;
    width: 100%;
    height: calc(100vh - 150px);
}

/* Image viewport (Middle section) */
.viewer-viewport {
    display: grid;
    margin: auto;

    vertical-align:bottom;
}

.viewer-viewport * {
    grid-column: 1;
    grid-row: 1;
    color: white;
    text-align: center;

    max-width: 90%;
    max-height: calc(100vh - 100px);
    margin: auto;
}

.viewer-viewport img {
    display: inline-block;
    border-radius: 10px;
    object-fit: cover;
}

.viewer-viewport img[id="viewer-overlay"] {
    left: 0;
    right: 0;

    transition: ease-in-out .5s;
    opacity: 0;
}

.viewer-viewport:hover img[id="viewer-overlay"] {
    opacity: 100%;
}

.viewer-viewport p[id="viewer-location"] {
    z-index: 1;

    margin-bottom: 0px;

    width: fit-content;
    height: fit-content;

    border-color: rgba(119, 136, 153, 0.3);
    border-width: 1.5px;
    border-style: solid;
    border-radius: 100px;

    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(3px);

    padding: 10px;

    color: black;

    transition: ease-in-out 0.4s;

    opacity: 0;

    transform: translateY(30px);
}

.viewer-viewport:hover p[id="viewer-location"] {
    transform: translateY(0px);
    opacity: 50%;
}

/* Viewport indicator (Bottom) */

.indicator {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;

    margin-inline: auto;
    vertical-align:middle;

    width: fit-content;
}

.indicator .indicator-ctrl {
    /* position: absolute; */
    align-content: center;

    padding: 8px;
    margin: 0px; 
    width: fit-content;

    border-color: rgba(119, 136, 153, 0.3);
    border-width: 1.5px;
    border-style: solid;
    border-radius: 100px;

    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(3px);

    display: table;
}

.indicator .indicator-ctrl p {
    padding: 0px 10px;
}

.indicator .indicator-ctrl button {
    display: table-cell;
    vertical-align: middle;

    background-color: transparent;
    color: white;
    padding: 8px;
    width: 40px;
    height: 40px;
    
    border-radius: 30px;
    border-style: none;

    transition: ease-in-out 100ms;
}

.indicator .indicator-ctrl button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.indicator .indicator-ctrl button:active {
    background-color: rgba(255, 255, 255, 0.8);
}

.indicator .indicator-ctrl button svg {
    text-align: center;
}

.indicator .indicator-ctrl div[id="indicator-info-warp"] {
    display: table-cell;
    vertical-align: middle;
}

.indicator .indicator-ctrl div p[id="indicator-info-title"] {
    margin: 0px;
}

.indicator .indicator-ctrl div p[id="indicator-info-index"] {
    font-size: small;
    margin: 0px;
}

.indicator .author {
    border-color: rgba(119, 136, 153, 0.3);
    border-width: 1.5px;
    border-style: solid;
    border-radius: 100px;

    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(3px);

    width: 58px;
    height: 58px;    
}

.indicator .author img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-top: 4px;
}