:root {
    --center_image_size: 130px;
}

.hover_container {
    display: flex;
    height: var(--center_image_size);
}

.hover_container img {
    height: var(--center_image_size);
    border-radius: 50%;
}

.hover_container .overlay {
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: .5s ease;
}

.hover_container .overlay:hover {
    opacity: 1;
}

/* Table */
table {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;

    height: calc(100vh - 70px);
    width: 100%;
    
    max-height: 500px;
    max-width: 1300px;

    border-spacing: 10px;
}

td {
    align-content: center;
    text-align: center;

    padding: 0;
    margin: 0;
    background-color: #D9E9CF;
    border-radius: 15px;

    padding: 15px;

    transition: ease-in-out 0.5s;

}

td:hover {
    background-color: #B6CEB4;
}

td[id="td-1-1"] div {
    align-items: center;
}

td .inner_column {
    margin-left: 15px;
    text-align: start;
}