/*
  2025-10-03 Left and right panel 
  Left side is panel, right side is content  
*/

.overpanel {
  margin-top: 5px;
  display: flex;
}

.overpanel > div {
  padding: 20px;
}

.left-panel {
  text-align: center;
  align-items: center;
  background-color: #D9E9CF;
  border-radius: 15px;
  width: 230px;

  display: flex;
  flex-direction: column;
  justify-content: start; /* Centers horizontally */
  align-items: center;    /* Centers vertically */
}

.right-panel {
  /* background-color: lightgray; */
  width: calc(100% - 230px);
  border-radius: 10px;
}

.overpanel > div > img {
  border-radius: 50%;
}

/* Image overlay effect */
.container {
  position: relative;
  width: 150px;
  
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--secondary_main);
  border-radius: 50%;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 100%);
  text-align: center;
}