:root {
  --nav_background: #4C763B; /* Example: a blue for primary elements */
  --nav_focus: #3E5F44;
  --nav_primary: #E8FFD7;

  --secondary_main: #819067;
}

body {
    background-color: #EEEFE0;
}