:root {
  --color-primary: #4C763B;
  /* Primary color for focus or hover */
  --color-primary-hover: #3E5F44; 
  --color-primary-focus: #0A400C;
  /* Text shown on primary */
  --color-on-primary: #E8FFD7;

  --color-secondary: #D9E9CF;
  --color-on-secondary: #5E936C;
  --color-on-secondary-varient: #5E936C;

  /* -- Other colors -- */
  --color-highlight: #5E936C;
  --color-on-highlight: #FFFFFF;

  /* -- Color for components -- */
  --color-surface: #FFFFFF;
  --color-on-surface: #000000;

  --color-background: #EEEFE0;
  --color-on-background: #000000;
  --color-on-background-varient: #31694E;

  --secondary_main: #819067;

  font-family: sans-serif;
}

body {
  color: var(--color-on-background);
  background-color: var(--color-background);
}

/*------------------------
| Navigation bar styling |
| - 2025-10-01           |
------------------------*/

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-primary);
  border-radius: 15px;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: var(--color-on-primary);
  text-align: center;
  text-decoration: none;
  background-color: var(--color-primary);
  transition: ease-in-out 0.25s;
  padding: 16px;
  font-family: sans-serif;
}

.navbar > div  li a:hover {
  padding: 16px 24px 16px 24px;
  background-color: var(--color-primary-hover);
}

.navbar > div  li a:active {
  background-color: var(--color-primary-focus);
}

.navbar > div  >  li > a.active {
  background-color: var(--color-primary-hover);
  padding: 16px 24px 16px 24px;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  font-weight: bold;
}

.navbar > div:hover > li > a.active {
  padding: 16px;
  background-color: var(--color-primary);
}

.navbar:hover > div:hover > li > a.active:hover{
  padding: 16px 24px 16px 24px;
  background-color: var(--color-primary-hover);
}

.navbar:hover > div:hover > li > a:active {
  font-style: italic;
}

/*-------------------------------------------
| 2025-10-03 Left and right panel           |
| Left side is panel, right side is content | 
-------------------------------------------*/
.overpanel {
  margin-top: 5px;
  display: flex;
}

.overpanel > div {
  padding: 20px;
}

.left-panel {
  text-align: center;
  align-items: center;
  background-color: var(--color-secondary);
  border-radius: 15px;
  width: 230px;

  display: flex;
  flex-direction: column;
  justify-content: start; /* Centers horizontally */
  align-items: center;    /* Centers vertically */
}

.left-panel > .contacts > div {
  display: table;
  position: absolute;
}

.left-panel > .contacts > a {
  padding: 2.5px;
  display: table-cell;
  vertical-align: middle;
}

.right-panel {
  /* background-color: lightgray; */
  width: calc(100% - 230px);
  border-radius: 10px;
}

.overpanel > div > img {
  border-radius: 50%;
}



/*-----------------------
| Basic general styling |
---------------------- */
strong {
  font-weight: bold;
  color: var(--color-on-highlight);
  background-color: var(--color-highlight);
}

em {
  font-weight: bold;
  color: var(--color-on-highlight);
  background-color: var(--color-highlight);
}

a:link {
  color: #556B2F;
  text-decoration: none;
}

a:visited {
  color: var(--color-on-background-varient);
  background-color: black;
}

a:hover {
  background-color: var(--nav_background);
  text-decoration: underline;
}

a:active {
  font-style: italic;
}

canvas {
  border-radius: 15px;
}

path {
  fill: var(--color-on-secondary-varient);
}

button {
  color: var(--color-on-primary);
  border-radius: 15px;
  border: none;
  padding: 6px 12px;
  background-color: var(--color-on-secondary);
}

button:hover {
  background-color: var(--color-on-background-varient);
}

button:active {
  background-color:  var(--color-highlight);
}