.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0%;
    text-align: center;
}

.container:hover .image {
    opacity: 1;
}

.container:hover .middle {
    opacity: 1;
}

/* Image overlay effect */
.container {
  position: relative;
  width: 150px;
  
}

.container > .image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 100%);
  text-align: center;
}