.course_table {
    background-color: lightgreen;
    border: black 1px solid;
    border-style: solid;

}

.course_table tr {
    color: white;
}

.course_table th {
    border: black 1px solid;
    padding: 10px;
    background-color: darkcyan;
}

.course_table td {
    
    padding: 10px;
    text-align: center;
    color: black;
    border: black 1px solid;
}

.pattle_button {
    min-height: 30px;
    min-width: 50px;
}

.viewport {
    height: 200px;
    width: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.controller {
    align-content: center;
    padding: 20px;

}

.controller button {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.controller button:hover {
    background-color: red;
}